@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --fonte-1: 'Roboto Condensed', sans-serif;
    --fonte-2: 'Train One', cursive;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 600px;
    background-image: url('img/fundo-1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 3;
}
.container-2{
    width: 100%;
    height: 600px;
    background-image: url('img/fundo-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;
}
.container-3 {
    width: 100%;
    height: 600px;
    background-image: url('img/fundo-3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.menu > div {
    padding-top: 25px;
    padding-left: 25px;
    font-family:var(--fonte-2);
}
.menu > img {
    padding-top: 25px;
    padding-right: 35px;
    cursor: pointer;
}
.search {
    width: 25px;
    height: 25px;

}
.container-main-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 35px;
    border-radius: 7px;
    border: 2px solid black;
}
.search-content > input {
    width: 300px;
    height: 30px;
    border: none;
}
.search-content > input:focus {
    border: none;
    outline: 0;
}
.ShowMenu {
    position: absolute;
    left: 85%;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    display: none;
}
ul {
    background-color: white;
    border-radius: 8px;
}
ul > li{
    list-style: none;
    padding: 8px;
    padding-right: 80px;
    cursor: pointer;
}
ul > li:hover {
    padding-right: 80px;
    cursor: pointer;
    opacity: 0.3;
}
.section-1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    width: 920px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
}
.content-1 {
    text-align: justify;
    width: 400px;
    padding: 15px;
}
.content-1 > p {
    font-family: var(--fonte-1);
    font-size: 20px;
}
.content-1 > h1 {
    margin-bottom: 12px;
    font-family: var(--fonte-2);
}
.img-content {
    border-radius: 10px;
}
.desert {
    background-color:#CD853F;
    width: 800px;
    margin: auto;
    height: 25px;
    margin-bottom: 50px;
    border-radius: 35px 35px 0px 0px;
}
.piramide {
    width: 0; 
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #CD853F;
    position:relative;
    left: 350px;
    animation-name: change;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
h3 {
    font-family: var(--fonte-1);
}
@keyframes change{
    0% {
        left: 350px;
    } 50% {
        left: 850px;
    } 100% {
        left: 350px;
    }
}
.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.imgContent > h3 {
    background-color: white;
    position: relative;
    text-align: center;
    animation-name: up;
    animation-duration: 2s;
    font-family: var(--fonte-2);
}
@keyframes up {
    from {
        top: -15px;
    } to {
        top:-250px;
    }
}